.contentsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.GraphWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 670px;
    width: 100%;
/*     background-color: white; */
    border-radius: 10px;

    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* .graphTitleWrapper {
    align-self: flex-start;

    height: 70px;
    line-height: 70px;

    text-align: center;

    width: 200px;
    background-color:honeydew;
}
.graphUnderLineWrapper {
    align-self: flex-start;
    height: 20px;
    width: 200px;
}
.graphUnderLineWrapper > hr {
    color:seagreen;
    width: 50%;
    border: 2px solid
} */
.selectYear, .selectTerm, .topCount {
    display: inline;
    padding: 5px;
}
.graphApiWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    height: 500px;
    width: 1000px;
    
    /* background-color:lavender; */
}