/*------------scrollbar styles------------*/


/* scrollbar width */

 ::-webkit-scrollbar {
    width: 10px;
}


/* scrollbar Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* scrollbar Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on scrollbar hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}