/*------------divContent styles------------*/

.divContent {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    /* top: 10px; */
    width: 100%;
    clear: both;
    margin-top: 10px;
}


/* left section */

.leftSection {
    display: inline-block;
    width: 20%;
    margin: 0 10px 0 10px;
}


/* right section */

.rightSection {
    display: inline-block;
    width: 80%;
    margin-bottom: 50px;
}