.leftSection {
	text-align: center;
	padding-top: 45px;
	background-color: white;
/* 	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
}


.rightSection {
	margin-bottom: 0;
	text-align: center;
	
}

.rightSection>.recipeInfo {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 98%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	background-color: #F4EFEA;
}

.rightSection>.recipeInfo>img {
	width: 100%;
}

.leftSection>hr {
	width: 55%;
	border: 2px solid #D2302C;
}

/* <!-- table Css --> */
table.favoriteList {
	text-align: center;
	margin: 40px auto 0;
	width: 80%;
	border-spacing: 0 20px;
}

table.favoriteList > thead td {
	font-weight: bold;
    border-bottom:2px solid #D2302C;
	font-size: large;
}

table.favoriteList>tbody>tr>td {
	font-size: large;
	vertical-align: middle;
}

table.favoriteList>tbody>tr>td>a {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    margin-right: 3%;
}


img.recipeImg {
	width: 150px;
	height: 100px;
	
}

img.delete {
	width: 100%;
	margin-bottom: 10px;
}
img.delete {
	cursor: pointer;
}
img.cartAdd {
	width: 100%;
	margin-bottom: 10px;
}
img.cartAdd:hover {
	cursor: pointer;	
}
table.favoriteList>tbody>tr:hover {
	background: #8bd8bd;
	color: black;
}

/*페이징 처리 부분 */
div.pagingSection {
	width: 100%;
	padding-bottom: 10px;
}

div.pagingSection>img {
	display: inline-block;
	border: none;
	width: 20px;
	
	height: 10px;
    cursor: pointer;
}
/* .pagingSection img { */
/*     height: 10px; */
/*     cursor: pointer; */
/* } */
.pagingSection a {
	text-decoration: none;
    color:lightslategray;
}
.pagingSection a:hover {
    color: grey;
}
