.bodySection {
	height: 1500px;
}
td {
	padding-top: 5px;
}
.leftSection {
	text-align: center;
	padding-top: 45px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.leftSection>hr {
	width: 55%;
	border: 2px solid #D2302C;
}
.contentsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: #F4EFEA;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 1400px;
    width: 700px;
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dataInput {
    display: inline-block;
    padding: 10px;

    border: none;
    border-radius: 5px;

    background-color: #ddd;

    text-align: center;

    font-size: 1em;
    font-weight: border;

    outline: none;
}
.dataInput:focus {
    border: 2px solid cornflowerblue;
    background-color: ghostwhite;
}
.dataInput:read-only {
    border: 2px;
    background-color: #ddd;
}
.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 1300px;
    width: 500px
}
.formWrapper span {
    display: none;
    color: brown;
    font-size: small;
}
.buttonSection {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 60px;
    width: 400px;
}
.ingAddBtn, .ingDeleteBtn, .processAddBtn, .processDeleteBtn, .imageAddBtn, .recipeAddBtn {
    height: 40px;
    width: 100px;

    color: white;
    font-size: 1em;

    border: none;
    border-radius: 5px;

    outline: none;
    background-color: #8bd8bd;
    opacity: 0.7;
}
.ingAddBtn:hover, .ingDeleteBtn:hover, .prcoessAddBtn:hover, .processDeleteBtn:hover, .imageAddBtn:hover, .recipeAddBtn:hover {
    opacity: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}